---
# tasks file for copy-software
- name: Create /u01
  ansible.builtin.file:
    path: /u01/app/oracle
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create inventory directory
  ansible.builtin.file:
    path: /u01/app/oraInventory
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create /u02
  ansible.builtin.file:
    path: /u02/app/grid
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create /u03
  ansible.builtin.file:
    path: /u03
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create software directory
  ansible.builtin.file:
    path: /home/oracle/software
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
#
- name: Copy software files in GCP
  include: gcp.yml
  when: cloud_type == 'gcp'
#
- name: Create db19 home
  ansible.builtin.file:
    path: /u01/app/oracle/product/19.3.0/dbhome_1
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create db18 home
  ansible.builtin.file:
    path: /u01/app/oracle/product/18.3.0/dbhome_1
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create db122 home
  ansible.builtin.file:
    path: /u01/app/oracle/product/12.2.0/dbhome_1
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create db121 home
  ansible.builtin.file:
    path: /u01/app/oracle/product/12.1.0/dbhome_1
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create db112 home
  ansible.builtin.file:
    path: /u01/app/oracle/product/11.2.0/dbhome_1
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- name: Create grid home
  ansible.builtin.file:
    path: /u02/app/grid/product/19.3.0/grid_1
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
    recurse: yes
- find:
    paths: /u01/app/oracle/product/19.3.0/dbhome_1
    file_type: file
    patterns: "*"
  register: db19files
- find:
    paths: /u02/app/grid/product/19.3.0/grid_1
    file_type: file
    patterns: "*"
  register: gridfiles
- name: Extract db19 home
  ansible.builtin.unarchive:
    src: "/home/oracle/software/{{ db19_file }}"
    dest: /u01/app/oracle/product/19.3.0/dbhome_1
    remote_src: yes
    owner: oracle
    group: dba
  when: db19files.matched|int == 0
- name: Extract grid home
  ansible.builtin.unarchive:
    src: "/home/oracle/software/{{ grid_file }}"
    dest: /u02/app/grid/product/19.3.0/grid_1
    remote_src: yes
    owner: oracle
    group: dba
  when: gridfiles.matched|int == 0
- name: Install cvuqdisk
  yum:
    name: /u02/app/grid/product/19.3.0/grid_1/cv/rpm/cvuqdisk-1.0.10-1.rpm
    state: present
- name: Copy db create response file
  ansible.builtin.copy:
    src: templates/db_create_193.rsp
    dest: /home/oracle/db_create_193.rsp
    owner: oracle
    group: dba
    mode: '0644'
- name: Copy ASM db create response file
  ansible.builtin.copy:
    src: templates/db_create_193_asm.rsp
    dest: /home/oracle/db_create_193_asm.rsp
    owner: oracle
    group: dba
    mode: '0644'
- name: Copy db grid response file
  ansible.builtin.copy:
    src: templates/db_grid_193.rsp
    dest: /home/oracle/db_grid_193.rsp
    owner: oracle
    group: dba
    mode: '0644'
- name: Copy db install response file
  ansible.builtin.copy:
    src: templates/db_install_193.rsp
    dest: /home/oracle/db_install_193.rsp
    owner: oracle
    group: dba
    mode: '0644'
- name: Copy udev rules
  ansible.builtin.copy:
    src: templates/96-asm.rules
    dest: /etc/udev/rules.d/96-asm.rules
    owner: root
    group: root
    mode: '0644'
- name: Copy README
  ansible.builtin.copy:
    src: templates/README.txt
    dest: /home/oracle/README.txt
    owner: oracle
    group: dba
    mode: '0644'
- name: Clone oracle-scripts repo
  ansible.builtin.git:
    repo: https://github.com/mminichino/oracle-scripts
    dest: /home/oracle/oracle-scripts
- name: Clone pockit repo
  ansible.builtin.git:
    repo: https://github.com/mminichino/pockit
    dest: /home/oracle/pockit
- name: Clone rubrik-toolkit repo
  ansible.builtin.git:
    repo: https://github.com/mminichino/rubrik-toolkit
    dest: /home/oracle/rubrik-toolkit
- name: Clone ansible-helper repo
  ansible.builtin.git:
    repo: https://github.com/mminichino/ansible-helper
    dest: /home/oracle/ansible-helper
- name: Create rbs download directory
  ansible.builtin.file:
    path: /home/oracle/rbs
    state: directory
    mode: '0755'
    owner: oracle
    group: dba
